:root{
    /* colours */
    --color-text:#fff;
    --color-primary:#576cbc;
    --color-secondary:#19376d;
    --color-dark:#0b244d;
    --color-bg:#04152d;
    /* fonts */
    --font-robot:"roboto";
}